html, body {
 margin: 0;
 padding: 0;
 height: 100%;
 width: 100%;
}
#root, .App, .d3-chart{
  height: 100%;
  width: 100%;
}
.App {
  text-align: center;
}
.d3-chart {
  background: #fff;
}
.bar {
  fill: coral;
}
.bar:hover {
  fill: brown;
}
.axis--x path {
  display: none;
}
.d3-chart.toggled .bar {
  fill: steelblue;
}
.d3-chart.toggled .bar:hover {
  fill: seagreen;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
